.wholepage{
    height: 100vh;
    width: 100vw;
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.center{
    width: 25%;
    height:80vh;
    background-color: aliceblue;
    border-radius: 15px;
}

h1{
    color: white;
    background-color: plum;
}

input{
    color: palevioletred;
    size: 15px;
    font-size: 25px;
    border: 0px none;
    
}

button{
    font-size: 25px;
    width: 10%;
    border: 0px none;
    cursor: pointer;
}

button:hover{
    background-color: lightcoral;
}

ul li{
    list-style-type: none;
    font-size: 35px;
    text-align: left;
    color: darkblue;
    text-transform: capitalize;
}

span{
    cursor: pointer;
}

span:hover{
    background-color: lightgrey;
}

/* ul li:hover{
    text-decoration: line-through;
} */